

<div class="container-form">
  <div class="form">
    <%= simple_form_for [@category, @bookmark] do |f| %>
      Add New Recipe
      <%= f.association :recipe, placeholder: "Pick a recipe..." %>
      <%= f.input :comment, placeholder: "Comment..." %>
      <%= f.submit class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
