<div class="banner" style= "background-image: url('<%= image_path "cookbook_home.jpg"%> ');">
  <div class="container">
    <h1>Cookbook</h1>
    <p>Save all your favourite recipes <em>(As long as they are in the list provided)</em></p>
    <%= link_to "Create Category", new_category_path , class: "btn btn-flat" %>
  </div>
</div>
