<div class="cards">
  <% @categories.each do |category| %>
    <%= link_to category_path(category), class: "text-decoration-none" do  %>
      <div class="card-category" id="home" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
        <%=category.name%>
      </div>
    <% end %>
  <% end %>
</div>
