<div class="container-form">
  <div class="form">
    <%= simple_form_for @category do |f| %>
    Add a new category
    <%= f.input :name, placeholder: "The category name..." %>
    <%= f.input :photo, as: :file %>
    <%= f.submit %>
    <% end %>
  </div>
</div>
